@font-face {
	font-family: 'BenthamRegular';
	src: url('Bentham-webfont.eot');
	src: local('☺'), url('Bentham-webfont.woff') format('woff'), url('Bentham-webfont.ttf') format('truetype'), url('Bentham-webfont.svg#webfontMYkujsME') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* -------- general -------- */
body {
  width: 70%;
  padding: 0;
  margin: auto;
  font-size: 100%;
  font-family: Optima, Candara, "Trebuchet MS", sans-serif;
  line-height: 150%;
  color: #202020;
  /* dark grey */ }

p {
  margin: 0 1em 1em 1em;
  line-height: 170%; }

ul li {
  margin-bottom: 10px; }

/* -------- nav -------- */
.nav {
  float: left;
  margin: 25px 1.5em 1em 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, white), color-stop(0.85, #f8f8f8));
  background: -moz-linear-gradient(center bottom, white 15%, #f8f8f8 85%);
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 225px; }
  .nav ul {
    margin: 0;
    padding: .25em; }
  .nav ul li {
    margin: .15em;
    list-style: none; }
    .nav ul li a:hover {
      text-decoration: underline; }
    .nav ul li a {
      padding: .15em 15px;
      text-decoration: none; }
  .nav ul li ul li {
    font-size: .75em; }

/* --------  -------- */
#wrapper {
  display: inline-block;
  max-width: 60em; }

.main {
  overflow: hidden;
  margin: 10px 0;
  padding: 0 1em 1em 0;
  min-height: 20em;
  min-width: 20em;
  max-width: 40em; }
  .main .sections {
    margin: 10px; }

#intro {
  margin: 15px 0 0 0; }

#intro * p {
  margin-right: 0; }

#introVideo {
  margin: 10px 0 20px 15px; }

/* -------- headers -------- */
.headline {
  border-bottom: 1px dotted #848383; }
  .headline h1 {
    color: #800000;
    margin: 30px 0 -12px 0;
    padding: 0;
    font: 60px/68px "BenthamRegular", Helvetica, "Trebuchet MS", sans-serif;
    letter-spacing: 0; }
  .headline h2 {
    margin: 0 0 20px 13px;
    padding: 0;
    font: 20px/24px "BenthamRegular", Helvetica, "Trebuchet MS", sans-serif;
    color: #686868;
    letter-spacing: 0;
    font-variant: small-caps; }
  .headline a, .headline a:visited {
    color: #800000;
    text-decoration: none; }
  .headline a:hover {
    color: #37030B;
    text-decoration: none; }

div.main h1, div.main h2 {
  color: #000;
  line-height: 100%;
  -moz-border-radius: 10px;
  border-radius: 10px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.80;
  opacity: 0.80;
  padding: 15px 0 10px 8px;
  background: none; }
div.main h1 {
  margin: 15px 0 10px 0;
  font-size: 140%;
  overflow-x: visible;
  color: #37030B;
  /* deep red (also TestFirst a:hover), or: #800000 (TestFirst a) */ }
div.main h2 {
  line-height: 100%;
  font-size: 120%;
  color: #190623;
  /* deep purple */ }
div.main h3 {
  color: #181818;
  font-size: 110%;
  margin: 15px 0 5px 8px; }

/* -------- links -------- */
a {
  text-decoration: none; }

a:link {
  color: #800000;
  /* red */ }

a:active {
  color: #BE3D01;
  /* orange */ }

a:hover {
  color: #37030B;
  /* deep red */
  text-decoration: underline; }

a:visited {
  /*  color: #190623; /* dark purple */
  color: #500000;
  /* dark red */ }

/* -------- special - code, pre, etc. -------- */
code, pre {
  font-family: "Lucida Sans Typewriter Regular", "lucida console", monaco, "andale mono", "bitstream vera sans mono", consolas, "DejaVu Sans Mono", Courier, "Courier New", monospace;
  color: #000;
  background-color: #f8f8f8;
  /* very light grey */
  font-size: 100%;
  padding: 0; }

pre {
  margin-left: 15px; }

.labs {
  color: #190623;
  /* purple */
  font-weight: bold;
  font-size: 110%;
  border: 1px dotted #190623;
  padding: 1px 3px; }

/* -------- footer -------- */
.footer {
  text-align: center;
  font-size: .75em;
  border-top: 1px dotted #848383;
  padding: 1em .5em; }

/*------- page-specific -------*/
div.main.home {
  margin-top: 25px; }